<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
	<body>
		<div th:fragment="sidebar">
			<div class="left-menu">
				<div class="left-menu-title">菜单</div>
				<div class="left-menu-list">
					<ul id="category"></ul>
				</div>
			</div>
			
			<script type = "text/javascript" > 
			$(function (){
			    $.getJSON("js/product_category.json", function (data){
			      var $categoryList = $("#category");
			      var categoryHtml = "";
			      //存储数据的变量 
			      $categoryList.empty();
			      //清空内容 
			      $.each(data, function (infoIndex, info){
					if(info["parent_id"]==1){
						$categoryList.append('<li class="categoryList" id="categoryList'+info["id"]+'" onclick="categoryChange(this)" onmouseout="categoryHide(this)" onmouseover="categoryChange(this)">'+
												'<p class="elp-multiline">'+info["name"]+'</p>'+
											 '<ul class="category2Ul"></ul></li>');
					}else{
						$categoryHtml2 = $("#category #categoryList"+info["parent_id"]+" ul");
						$categoryHtml2.append('<li class="categoryList2'+info["id"]+'">'+
												'<a class="clearfix" data-id="'+info["parent_id"]+'" id="'+info["id"]+'" onclick="product_list(this)" href="javascript:void(0);">'+
													'<p class="elp-multiline">'+info["name"]+'</p>'+
												'</a>'+
											  '</li>');
					}
			      })
			    })
			})
			function categoryHide(obj){
				$(obj).find("ul").hide();
			}
			function categoryChange(obj){
				$(obj).find("ul").show();
			}
			function product_list(obj) {
				let categoryCode="0000";
				let category1 = obj.getAttribute("data-id");
				let category2 = obj.getAttribute("id");
				for(let i = 0; i < 4-category1.length; i++){
					categoryCode += 0;
				}
				categoryCode += category1;
				
				for(let i = 0; i < 4-category2.length; i++){
					categoryCode += 0;
				}
				categoryCode += category2;
				
				window.location = site_url_item+"search/productinfobycategory?categoryCode="+categoryCode+"&pageSize=20&page=0&mostPointSort=0&priceSort=0&totalBidSort=0&endDateTimeSort=0";  
			}
			</script>
			<style type="text/css">
				.category2Ul{
					display:none;
					position:absolute;
					left:100px;
					top:0px;
					z-index:9999;
				}
				.elp-multiline{
					cursor:pointer;
				}
			</style>
		</div>
	</body>
</html>			
