<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
	<body>
		<div id="IS_SASP_TARGET" class="header-container" th:fragment="header">
			<div class="login-box">
				<div class="login-box-inner">
					<span class="login-news"><b>时尚邮购</b> Nisson 3 , 000元（含税）以上在7-11的店内领取免费运费!</span>
					<ul id="login_bar">
						<li><a href="javascript:void(0);" onclick="itemadd()">出售商品</a></li>
						<li><a href="javascript:void(0);" onclick="login()">登录</a></li>
						<li><a href="javascript:void(0);" onclick="register()">免费注册</a></li>
					</ul>
				</div>
			</div>
			<div class="head-search-box">
				<div class="logo">富聿通</div>
				<span id="search-head" th:insert="controls/search :: search"></span>
			</div>
			<div class="banner-img">
				<img th:src="@{img/banner01.png}">
			</div>
			<script type="text/javascript">
				function itemadd() {
					window.location = site_url_item+"page/itemadd";  
				}
				
				function userInfo() {  
					let userId=$("#userId").val();
					window.location = site_url_item+"message/usermessageinfo?userId="+userId;  
				}
				
				function register() {  
					window.location = site_url_sso+"page/register.html?re="+window.location.href;  
				}
				
				function login() { 
					window.location = site_url_sso+"page/login.html?re="+window.location.href;  
				} 
				
			</script>
		</div>
	


