<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head><!-- charset -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
	<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/const.js}"></script>
	<title>富聿通</title>
	
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/main.css}">
	<script type="text/javascript">
      	//导入product里的itembasicshow.css
		document.head.appendChild(new_itembasicshowcss);
       	//导入product里的jqzoom.js
		document.head.appendChild(new_jqzoom);
		//导入product里的itemimg.js 图片自适应
		document.head.appendChild(new_itemimg);
	</script>
       <script type="text/javascript" th:src="@{js/jquery.cookie.js}"></script>
       <script type="text/javascript" th:src="@{js/user.js}"></script>
       <script type="text/javascript">
       function loadPage(i_num,n_num,l_num){
		$(document).ready(function(){
			$("#main_id").load(site_url_item+"product/itembasiclistshowfor4?num="+i_num+" .main_out",function(){
				$("#main_newadd").load(site_url_item + "product/itembasiclistshowfornew4?num="+n_num+" .main_out",function(){
					$("#main_nearfinish").load(site_url_item + "product/itembasiclistshowforlast4?num="+l_num+" .main_out",function(){
						//导入product里的itembasicshow.js
						$("#itembasicshow_scriptAdd").html(new_itembasicshow);
					});
				});
			});
           });
       }
       var i_num = 4;
       var n_num = 4;
       var l_num = 4;
       loadPage(i_num,n_num,l_num);
       function clickList(new_num){
       	if(new_num=='i_num'){
       		i_num=i_num+4;
       	}
       	if(new_num=='n_num'){
       		n_num=n_num+4;
       	}
       	if(new_num=='l_num'){
       		l_num=l_num+4;
       	}
       	$("#itembasicshow").remove();
       	loadPage(i_num,n_num,l_num);
       }
       </script>
</head>
<body>
<div class="wrapper" data-id='about' data-language='en'>	
	<div class="container-box">
		<div class="header clearfix">
			<div th:include="header :: header"></div>
			<div class="main-content">
				<div id="side" th:include="/controls/main/sidebar :: sidebar"></div>
				
				<div class="right-content">
					<div id="itembasicshow_scriptAdd"></div>
					<div class="hot-classificate">
						<div id="main_id" class="over-flow"></div>
						<div class="classificate-more"><a href="javascript:void(0);" onclick="clickList('i_num')">加载更多...</a></div>
					</div>
					
					<div class="hot-classificate">
						<div class="saleing-box-title">即将过期</div>
						<div id="main_nearfinish" class="over-flow"></div>
						<div class="classificate-more"><a href="javascript:void(0);" onclick="clickList('l_num')">加载更多...</a></div>
					</div>
					
					<div class="hot-classificate">
						<div class="saleing-box-title">最近添加</div>
						<div id="main_newadd" class="over-flow"></div>
						<div class="classificate-more"><a href="javascript:void(0);" onclick="clickList('l_num')">加载更多...</a></div>
					</div>
					
					
					<div class="saleing-box">
							<div class="saleing-box-title">正在进行中的拍卖</div>
							<div class="classificate-box">
									<div class="classificate-box-title">1</div>
									<img src="img/hot_classificate_img.png">
									<div class="classificate-box-content">
											<span class="saleing-title">时尚连衣裙</span>
											<span class="saleing-class">时尚连衣裙</span>
											<span class="saleing-start"><i class="glyphicon glyphicon-star" aria-hidden="true"></i><i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>start</span>
											<div class="one-line">
												<span class="saleing-price">$3,024</span>
												<span class="saleing-coin"><i class="glyphicon glyphicon-time" aria-hidden="true"></i>1200分</span>
											</div>
									</div>
							</div>
							<div class="classificate-box">
									<div class="classificate-box-title">2</div>
									<img src="img/hot_classificate_img.png">
									<div class="classificate-box-content">
											<span class="saleing-title">时尚连衣裙</span>
											<span class="saleing-class">时尚连衣裙</span>
											<span class="saleing-start"><i class="glyphicon glyphicon-star" aria-hidden="true"></i><i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>start</span>
											<div class="one-line">
												<span class="saleing-price">$3,024</span>
												<span class="saleing-coin"><i class="glyphicon glyphicon-time" aria-hidden="true"></i>1200分</span>
											</div>
									</div>
							</div>
							<div class="classificate-box">
									<div class="classificate-box-title">3</div>
									<img src="img/hot_classificate_img.png">
									<div class="classificate-box-content">
											<span class="saleing-title">时尚连衣裙</span>
											<span class="saleing-class">时尚连衣裙</span>
											<span class="saleing-start"><i class="glyphicon glyphicon-star" aria-hidden="true"></i><i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>start</span>
											<div class="one-line">
												<span class="saleing-price">$3,024</span>
												<span class="saleing-coin"><i class="glyphicon glyphicon-time" aria-hidden="true"></i>1200分</span>
											</div>
									</div>
							</div>
							<div class="classificate-box">
									<div class="classificate-box-title">4</div>
									<img src="img/hot_classificate_img.png">
									<div class="classificate-box-content">
											<span class="saleing-title">时尚连衣裙</span>
											<span class="saleing-class">时尚连衣裙</span>
											<span class="saleing-start"><i class="glyphicon glyphicon-star" aria-hidden="true"></i><i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>start</span>
											<div class="one-line">
												<span class="saleing-price">$3,024</span>
												<span class="saleing-coin"><i class="glyphicon glyphicon-time" aria-hidden="true"></i>1200分</span>
											</div>
									</div>
							</div>
							<div class="classificate-box">
									<div class="classificate-box-title">5</div>
									<img src="img/hot_classificate_img.png">
									<div class="classificate-box-content">
											<span class="saleing-title">时尚连衣裙</span>
											<span class="saleing-class">时尚连衣裙</span>
											<span class="saleing-start"><i class="glyphicon glyphicon-star" aria-hidden="true"></i><i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>start</span>
											<div class="one-line">
												<span class="saleing-price">$3,024</span>
												<span class="saleing-coin"><i class="glyphicon glyphicon-time" aria-hidden="true"></i>1200分</span>
											</div>
									</div>
							</div>
							<div class="classificate-box">
									<div class="classificate-box-title">6</div>
									<img src="img/hot_classificate_img.png">
									<div class="classificate-box-content">
											<span class="saleing-title">时尚连衣裙</span>
											<span class="saleing-class">时尚连衣裙</span>
											<span class="saleing-start"><i class="glyphicon glyphicon-star" aria-hidden="true"></i><i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>start</span>
											<div class="one-line">
												<span class="saleing-price">$3,024</span>
												<span class="saleing-coin"><i class="glyphicon glyphicon-time" aria-hidden="true"></i>1200分</span>
											</div>
									</div>
							</div>
							<div class="classificate-box">
									<div class="classificate-box-title">7</div>
									<img src="img/hot_classificate_img.png">
									<div class="classificate-box-content">
											<span class="saleing-title">时尚连衣裙</span>
											<span class="saleing-class">时尚连衣裙</span>
											<span class="saleing-start"><i class="glyphicon glyphicon-star" aria-hidden="true"></i><i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>start</span>
											<div class="one-line">
												<span class="saleing-price">$3,024</span>
												<span class="saleing-coin"><i class="glyphicon glyphicon-time" aria-hidden="true"></i>1200分</span>
											</div>
									</div>
							</div>
							<div class="classificate-box">
									<div class="classificate-box-title">8</div>
									<img src="img/hot_classificate_img.png">
									<div class="classificate-box-content">
											<span class="saleing-title">时尚连衣裙</span>
											<span class="saleing-class">时尚连衣裙</span>
											<span class="saleing-start"><i class="glyphicon glyphicon-star" aria-hidden="true"></i><i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>start</span>
											<div class="one-line">
												<span class="saleing-price">$3,024</span>
												<span class="saleing-coin"><i class="glyphicon glyphicon-time" aria-hidden="true"></i>1200分</span>
											</div>
									</div>
							</div>						
						<div class="classificate-more"><a href="javascript:;">加载更多...</a></div>
						<div class="classificate-less"><a href="javascript:;">折叠显示...</a></div>						
					</div>
				</div>							
			</div>
			<div class="foot-banner"><img src="img/foot_banner.png"></div>
			

		</div>
		<div class="footer">
			<div class="footer-container clearfix">
				<ul>
					<li><a herf="javascript:;">阿里马马</a></li>
					<li><a herf="javascript:;">阿里巴巴集团</a></li>
					<li><a herf="javascript:;">阿里</a></li>
					<li><a herf="javascript:;">阿里马马</a></li>
					<li><a herf="javascript:;">阿里巴巴集团</a></li>
					<li><a herf="javascript:;">阿里</a></li>
					<li><a herf="javascript:;">阿里马马</a></li>
					<li><a herf="javascript:;">阿里巴巴集团</a></li>
					<li><a herf="javascript:;">阿里</a></li>
					<li><a herf="javascript:;">阿里马马</a></li>
					<li><a herf="javascript:;">阿里巴巴集团</a></li>
					<li><a herf="javascript:;">阿里</a></li>
					<li><a herf="javascript:;">阿里马马</a></li>
					<li><a herf="javascript:;">阿里巴巴集团</a></li>
					<li><a herf="javascript:;">阿里</a></li>
				</ul>
			</div>
		</div>
	</div>	
</div>
<div id="main_nearfinish" class="over-flow"></div>
					<div id="main_newadd" class="over-flow"></div>
</body>
</html>